@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
.title {
  height: 79px;
  width: 472px;
  margin: 0 auto;
  padding-top: 20px;
}
h1 {
  text-align: center;
  font-family: "Karla";
  color: white;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
}
p,
a {
  font-family: "Inconsolata";
  color: white;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}
body {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwzNTMzOTh8MHwxfHNlYXJjaHwxNnx8ZGFyayUyMHRleHR1cmV8ZW58MHx8fHwxNjYxOTkyOTE4&ixlib=rb-1.2.1");
  background-size: cover;
}
canvas {
  //   display: block;
  //   border-radius: 10px;
  width: 50%;
  height: auto;
  display: block;
  margin: 4rem auto;
  padding: 5%;
  background-color: #a67b5b;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cardboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px double #483c32;
  box-shadow: 0 0 0 50px rgba(244, 240, 236, 0.4) inset,
    0 0 0 11px rgb(180, 130, 90), 0 0 30px rgba(0, 0, 0, 0.8) inset;
  outline: 2px solid #333;
  outline-offset: 0px;
}
